.loading_image{
    width: min(100%, 400px);
    padding: 20px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.loading_text{
    font-size: 2em;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    -webkit-animation: flickerAnimation 1.5s infinite;
    -moz-animation: flickerAnimation 1.5s infinite;
    -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }